<div class="container">

    <div class="row fadeIn">
        <div class="col">

            <div class="pt-5 pb-5">

                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="mr-auto">Edit email</strong>
                    </div>
                    <div class="toast-body">


                        <form method="post" action="/emailEdit">

                            <div class="mb-3">

                                <input type="email" name="email" class="form-control" value="<%=email%>">
                                <input type="hidden" name="csrf" value="<%=csrfToken%>">

                            </div>

                            <button type="submit" class="btn btn-primary">Change</button>

                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
